var fs = require('fs');
var path = require('path');

module.exports = {

  // name of this labdevice server
  name: "Dexter's laboratory labdevice server 0",

  // The bionet node's host name to which you wish to connect
  host: "localhost",
  port: 4200,

  // Enable debug output
  debug: false,
  
  // Path to ssh private key to use for authentication
  tlsKey: fs.readFileSync('tls/client-key.pem'),
  tlsCert: fs.readFileSync('tls/client-cert.pem'),
  serverTLSCert: fs.readFileSync('tls/server-cert.pem'),

  // How often to check if the server is still there
  heartbeatRate: 3000, // in ms

  lprPath: 'lpr', // defaults to 'lpr' which is expected to be in your PATH
  ql570Path: 'ql570', // defaults to 'ql750' which is expected to be in your PATH

  // Directory where printer devices appear
  devPrintersPath: '/dev/printers', // defaults to '/dev/printers'

  // List of supported label types for each printer type
  // Note that this section is not used
  // if you only ever edit devices.json manually
  labelTypes: {
    brother: [
      {
        name: "QR-code labels",
        description: "Continuous narrow film labels 29 mm width (DK-2211)",
        type: "29" // one of the types supported by the ql570 command
      }
    },
    dymo: [
      {
        name: "CryoTube labels",
        description: 'Diversified BioTech DT WetGrip 2.00" x 0.25" (GRDT-5000)',
        arg: "-o media=Custom.51x22mm" // passed to the lpr command
      }, {
        name: "Plate labels",
        description: 'Diversified BioTech DT Xylene Resistant 1.50" x 0.75" (RVTH-3000)',
        arg: "-o media=Custom.20x39mm"
      },
    ]
  }
  
};
