
var path = require('path');

module.exports = {

    // The printer name
    // Used to identify this printer on servers with multiple printers
    name: "my-lab-1",

    deviceType: 'printer', // 'printer' or 'webcamScanner' or 'keyboardScanner'

    // printer is likely: /dev/usb/lp0
    // webcam is likely: /dev/video0
    // HID/keyboard is one of the devices in: /dev/input/by-id/
    device: '/dev/usb/lp0',

    // The bionet node's host name to which you wish to connect
    hostname: "localhost",
    port: 4200,

    // Enable debug output
    debug: false,

    // SHA1 hash of hosts public key
    hosthash: "sha1-of-hosts-pubkey",

    // ssh username
    username: "myprinter",

    // Path to ssh private key to use for authentication
    privkey: path.join(__dirname, 'mykey'),

    // The print command
    cmd: "ql_print",

    // How often to check if the server is still there
    heartbeatRate: 3 // seconds
    
};
