
var path = require('path');

module.exports = {

    // The printer device
    device: '/dev/ttyUSB0',

    // The bionet nodes host name to which you wish to connect
    hostname: "localhost",
    port: 4200,

    // SHA1 hash of hosts public key
    hosthash: "sha1-of-hosts-pubkey",

    // ssh username
    username: "myprinter",

    // Path to ssh private key to use for authentication
    privkey: path.join(__dirname, 'mykey'),

    // The print command
    cmd: "ql570"
    
};
